.box{ 
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding-top: 350px;
    padding-bottom: 350px;

}

.flex-header{ /* Sejam bem vindos as receitas da thay*/
    width: 200px;
}

.box-title{ /*receitas da thay*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-h1{ /*receitas da thay*/
    display: inline-block;
    color: rgb(20, 124, 165);
    font-size: 55px;
    padding: 50px;
    order:2;
    
}

.title-h2{
    color: rgb(20, 124, 165);
    order: 3;
    font-size: 28px;
}

.logotipo{
    display: inline block;
    order: 1;
    height: 180px;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(236, 236, 236)
    
}


