
main{
    display: flex;
    justify-content: center;
    margin-left: 34px;
    background-color: rgb(236, 236, 236);
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
}

.container-receitas{
    display: flex;
    width:fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0%;
}

h1{
    text-align: center;
}

.box{ 
    margin: 10px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    height: 650px;
    width: 300px;
    border: 2px solid rgb(217, 201, 238);
    background-color: linear;
    color: rgb(78, 113, 158);
}

.class-img-receita{
    display: flex;
    margin: 55px;
    height: 150px;
    width: 150px;
    margin-left: 68px;
    margin-bottom: 54px;
    margin-top: 19px;
}

.text-ingredientes{
    font-size: 18px;
    color: rgb(78, 113, 158);
}

.text{
    color: rgb(78, 113, 158);
    font-size: 15px;
    display: flex;
    margin: auto;
}
